dash==1.18.1 #This is not Dash 2.0 as it can be roblematic and is unneeded. Still problematic on firefox on linux.
Werkzeug==2.0.0 #needed for Heroku due to error ImportError: cannot import name 'get_current_traceback' from 'werkzeug.debug.tbtools'
pandas==1.3.5
python-dotenv==0.19.2 #you will need this if you want to read in environmental variables from the Heroku Dyno 'operating system'
matplotlib==3.5.1
gunicorn==20.0.4
dash-extensions==0.0.58 #Download features
dash-bootstrap-components==0.13.1 #this is as high as we can go before dash 2.0 breaking changes come into effect
whitenoise==5.2.0
